body {
    margin: 0;
    background-image: url("../images/nutrition2.jpg");
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    font-size: 18px;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0;
    margin-left: -5px
}

.navbar-brand a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

.navbar-menu {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar-menu li {
    padding: 10px;
}

.navbar-menu li a {
    color: #fff;
    text-decoration: none;
}


.dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropdown-button {
    font-size: 17px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 100px;   
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 0;
  }
  .dropdown-menu li {
      list-style-type: none;
  }
  .dropdown-menu li a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  .dropdown:hover .dropdown-menu {
    display: block;
  }


.navbar-toggle-label {
    display: none;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: green;
    color: #fff;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 50px;
}

.container {
    margin-top: 50px;
    padding: 50px;
    color: black;
    text-align: left;
}

h1 {
    background: linear-gradient(114.3deg, rgb(19, 126, 57) 0.2%, rgb(8, 65, 91) 68.5%);
    -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    font-size: 48px;
    margin-bottom: 20px;
}
.sub-head {
    width: 40%;
    text-align: center;
}

.sub-header {
    font-size: 24px;
    line-height: 1.5;
    float: left;
    
    
}
.sub-header h4{
    text-align: center;
}

.buttons {
    padding-top: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

button {
    height: 60px;
    width: 20%;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    margin: 0 10px;
    font-size: 1rem;
    border-radius: 5px;
}

button:hover {
    background-color: #3e8e41;
}

button:focus {
    outline: none;
}

@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        padding: 0;
        margin: 0;
    }

    .navbar-menu {
        display: none;
    }

    .navbar-toggle-label {
        cursor: pointer;
        display: block;
        height: 40px;
        position: relative;
        width: 40px;
    }

    .navbar-toggle-label span {
        background-color: #fff;
        display: block;
        height: 2px;
        position: absolute;
        width: 100%;
    }

    .navbar-toggle-label span:nth-child(1) {
        top: 16px;
    }

    .navbar-toggle-label span:nth-child(2) {
        top: 23px;
    }

    .navbar-toggle-label span:nth-child(3) {
        top: 30px;
    }

    #navbar-toggle:checked+.navbar-menu {
        display: flex;
        flex-direction: column;
    }
    .container {
        padding-left: 25px;
    }

    h1 {
        font-size: 32px;
        text-align: left;
    }

    .buttons {
        justify-content: space-between;
    }
    
    button{
        width: 30%;
    }
}
